<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj dane</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="name"></label>
        <input type="text" id="name" name="name">

        <label for="surname"></label>
        <input type="text" id="surname" name="surname">

        <label for="wiek"></label>
        <input type="number" id="wiek" name="wiek">

        <label for="id_klasy"></label>
        <input type="number" id="id_klasy" name="id_klasy">

        <label for="id_ucznia"></label>
        <input type="number" id="id_ucznia" name="id_ucznia">

        <button type="submit">Wyślij</button>
    </form>
</body>
</html>