<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles/styl.css' %}">

</head>
<body>
    <form method="POST" action="{% url 'wyswietl' %}">
      {% csrf_token %}

      <label for="wybor">Select a class:</label>
      <select name="wybor" id="wybor">

          {% for opcja in opcje %}
        <option value='{{ opcja.NazwaKlasy }}'>{{ opcja.NazwaKlasy }}</option>

          {% endfor %}
      </select>

      <label for="kont">Number: </label>
      <input type="number" id="kont" name="kont">

      <button type="submit">Wyślij</button>
    </form>
    {% for klasy in result %}
    <h2>{{ klasy.NazwaKlasy }}</h2>

    <ul>
        {% for uczen in uczniowie %}
            <li>{{ uczen.Imie }} {{ uczen.Nazwisko }}</li>
        {% endfor %}
    </ul>
{% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>